server:
  port: 8082
  servlet:
    context-path: /api/v1/notification  

spring:
  application:
    name: ROOMBILLZ-NOTIFICATION-SERVICE
  main:
    allow-bean-definition-overriding: true
        
#Database Configuration     
  datasource:
    url: jdbc:mysql://localhost:3306/roombillz_notification
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.MySQL8Dialect
 
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 20MB

  cloud:
    compatibility-verifier:
      enabled: false

#Kafka Configuration
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: latest
      properties:
        spring.json.trusted.packages: "*"

kafka:
  topics:
    roomBillz: roomBillz-topic
    notification: roomBillz-notification-topic
  groups:
    roomBillz: roombillz-group
    notification: roomBillz-notification-group
    
#Feign client configuration
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 10000
        loggerLevel: FULL
  compression:
    request:
      enabled: true
    response:
      enabled: true

# Base URL of RoomBillz Service (used by Feign)
roombillz:
  service:
    url: http://localhost:8081/api/v1/roomBillz      

#Logging
logging:
  level:
    root: INFO
    org.springframework.cloud.openfeign: DEBUG
    com.inn.client: DEBUG

#Eureka configuration
eureka:
  instance:
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 20

    metadata-map:
      version: v1
      environment: LOCAL
      region: IN

  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    registry-fetch-interval-seconds: 5

management:
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

#Acatuator Configuration
  endpoints:
    web:
      exposure:
        include: health, info, beans, env, metrics,prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true      
     